
body {
	background-color: #B1E3CD;
	margin: 0 15%;
	font-family: Courier New;
	}
	img {
	  width: 120px;
	  height: auto;
	  margin: 0 20px 0 0;
	}
	br {
	   display: block;
	   margin: 1px 0;
	}
h1 {
	text-align: center;
	font-family: Courier New;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid;
	color: #51102B;
	margin-top: 10px;
}

h2 {
	color: #622740;
	font-size: 1em;
}
