/*STUDENT NOTE: the Grithub link mispelled this .css file, so I corrected
it to say responsive.css to be in unison with the .html file */

body {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns:
    repeat(auto-fit, minmax(100px, 1fr));
   grid-template-rows: repeat(2, 100px);
}

.container div:nth-child(even) {
  background: lavender;
}

.container div:nth-child(odd) {
  background: gainsboro;
}

.container div {
  text-align: center;
  border: thin solid dodgerblue;
}
